@model List<DesignationVM>
@{
    ViewData["Title"] = "Master Designation";
}
<head>
    <link href="~/assets/css/popup.css" rel="stylesheet"/>
    <style>
        .grid-scroll {
            max-height: 350px;
            overflow-y: auto;
        }
    </style>
</head>
<!-- PAGE HEADER -->
<div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="page-title">Master Designation</h4>

    <button class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#designationModal"
            onclick="clearForm()">
        <i class="ti ti-plus"></i> Add Designation
    </button>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        <select id="pageSize" class="form-select" style="width:120px">
            <option value="5">Top 5</option>
            <option value="10" selected>Top 10</option>
            <option value="25">Top 25</option>
            <option value="100">Top 100</option>
        </select>
    </div>

    <div class="col-md-6 text-end">
        <input type="text"
               id="searchBox"
               class="form-control"
               placeholder="Search designation..."
               style="width:250px; display:inline-block;">
    </div>
</div>

<!-- LIST -->
<div class="card">
    <div class="table-responsive grid-scroll">
        <table class="table table-hover" id="deptTable">
            <thead>
                <tr>
                    <th>S No.</th>
                    <th>Department Name</th>
                    <th>Designation Name</th>
                    <th width="120">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model[i].Department</td>
                        <td>@Model[i].Designation</td>
                        <td>
                            <button class="btn btn-sm btn-warning"
                                    onclick="editDesignation('@Model[i].Id',
                                    '@Model[i].Designation', 
                                    '@Model[i].DepartmentId')">
                                <i class="ti ti-edit"></i>
                            </button>

                            <form asp-action="DeleteDesignation" method="post" style="display:inline">
                                <input type="hidden" name="id" value="@Model[i].Id" />
                                <button class="btn btn-sm btn-danger"
                                        onclick="return confirm('Do you really want to delete this record?')">
                                    <i class="ti ti-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

    <div class="d-flex justify-content-end mt-2">
        <ul class="pagination" id="pagination"></ul>
    </div>

<!-- ADD / EDIT MODAL -->
<div class="modal fade" id="designationModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <form asp-action="AddDesignation" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Designation</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" id="Id"
                           name="Id" />

                    <label class="form-label">Select Department</label>
                    <select class="form-select form-select-sm" name="DepartmentId" id="DepartmentId">
                        @foreach (var d in ViewBag.DepartmentList)
                        {
                            <option value="@d.Value">@d.Text</option>
                        }
                    </select>

                    <label class="form-label">Designation Name</label>
                    <input type="text"
                           class="form-control"
                           name="Designation"
                           id="Designation"
                           required />
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="~/assets/js/global.js"></script>

@if (TempData["Msg"] != null)
{
    <div class="popup-overlay" id="centerPopup">
        <div class="popup-box">
            <h4>Success</h4>
            <p>@TempData["Msg"]</p>
        </div>
    </div>
}

@section Scripts {
    <script>

             const popup = document.getElementById("centerPopup");
            if (popup) {
                setTimeout(() => popup.remove(), 1200);
            }

        function clearForm() {
            document.getElementById("Id").value = "";
            document.getElementById("Designation").value = "";
        }

              function editDesignation(id, name, depart) {

            document.getElementById("Id").value = id;
            document.getElementById("Designation").value = name;

            const ddl = document.getElementById("DepartmentId");
            ddl.value = depart;

            new bootstrap.Modal(
                document.getElementById('designationModal')
            ).show();
        }

    </script>
}
